<div>
    <h1 [ngClass]="'textformattitle'">About Me</h1>
    <mat-card [ngClass]="'aboutmetext'"> 
        <mat-card-content [ngClass]="'textformat'">
            Hello! My name is Andrew. 
            I'm a developer with backgrounds in Api development, data engineering, and front-end developement. 
            <br>
            Honestly, I put this site together to test out putting together an Angular site on GitHub Pages. We will see what happens with it! 
        </mat-card-content>
        <!--<img src="assets/images/EagleRiver.jpg" mat-card-lg-image> --> 
    </mat-card>
    <!--<mat-divider [ngClass]="'divider'"></mat-divider> --> 
    <mat-card [ngClass]="'aboutmetext'"> 
        <mat-card-content [ngClass]="'textformat'">
            Some Second card with content
        </mat-card-content>
        <!--<img src="assets/images/EagleRiver.jpg" mat-card-lg-image> --> 
    </mat-card>
</div>
